<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Your Scrabble Score!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Find Your Scrabble Score!</h1>
            <h4>Enter your letters:</h4>
            <form action='/view_score'>
                <div class='form-group'>
                  <label for='letters'>Letters:</label>
                  <input id='letters' name='letters' class='form-control' type='text'>
                </div>
                <button type='submit' class='btn btn-success'>Generate!</button>
            </form>
        </div>
    </body>
</html>
